*{
    background-color: #222222;
    margin: 0;
    color:#F3EFE0;
    font-family: 'Urbanist', sans-serif;
}
body{
    background-color: #222222;
    
}
.home-body-one{
    padding-top: 105px;
    margin-left: 17%;
    font-family: 'Urbanist', sans-serif;
    color:#F3EFE0;
}

.shift-down{
    margin-top: 10%;
}
h1{
    width: 40%;
    font-weight: bold;
    font-size: 55px;
    transition: transform 1.7s;
}

.text-body-one{
    width: 30%;
    font-weight: 400;
    font-size: 20px;
}
h5{
    padding-top: 0%;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
}

h1:hover {
    background-image: linear-gradient(
      -225deg,
      #4bc3bd 0%,
      #ebe846 29%,
      #59c3d6 67%,
      #d535f5 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    transform: scale(1.08);
    display: inline-block;
    font-size: 55px;
  }
  
  @keyframes textclip {
    0% {
      background-position: 100% 0;
    }
    50% {
      background-position: 0% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  


.home-body-two{
    padding-top: 15%;
}

h2{
    width: 40%;
    font-weight: bold;
    font-size: 55px;
    margin-left: 60%;
}

.text-body-two{
    width: 35%;
    font-weight: 400;
    font-size: 20px;
    margin-left: 50%;
    padding-top: 20px;
}

h3{
    width: 40%;
    font-weight: bold;
    font-size: 35px;
    margin-left: 51%;
    padding-top: 30px;
}

.home-body-three{
    padding-top: 15%;
}

h4{
    width: 85%;
    font-weight: bold;
    font-size: 50px;
    margin-left: 12%;
}
.text-body-three{
    width: 75%;
    font-weight: 400;
    font-size: 20px;
    margin-left: 12%;
    padding-top: 20px;
}

footer{
    padding-top: 20%;
    width: 60%;
    text-align: center;
    margin-left: 19%;
    padding-bottom: 3%;
    font-weight: 400;
}