
{% extends 'base.html' %}

{% block title %}
  Welcome to Reverie
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock %}

{% block content %}
  {% include './includes/nav.html' %}
  <form method="POST" class="w-20 mx-auto">
    {{ form.hidden_tag() }}
    <h1>Reverie</h1>
    <h3>Connect Through Sound.</h3>
    <h2>Login</h2>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      {{ form.email(class='form-control cus-input', id='email') }}
      <div id="emailHelp" class="form-text">Consider your email a backstage pass - exclusive and private!</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      {{ form.password(class='form-control cus-input', id='password') }}
    </div>
    {{ form.submit(class='btn btn-primary') }}
    <a class="nav-link" href="/signup">New to the beat? Sign up now and dive into the music experience!</a>
  </form>
{% endblock %}
